``Mission : Error Analysis & Model metadata``

- Is this the problem with past submissions too??
- Develop Better guess
- Start from avgs, expanding means.

# Data and dependencies

In [1]:
import warnings
import sys
import os
import time
import joblib
import random
from tqdm import tqdm
from pprint import pprint

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import cv2
from geopy.distance import geodesic

from sklearn.metrics import mean_squared_error as mse
from sklearn.model_selection import train_test_split, StratifiedKFold, TimeSeriesSplit
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OrdinalEncoder

from xgboost import XGBClassifier, XGBRegressor
from lightgbm import LGBMClassifier, LGBMRegressor
from catboost import CatBoostClassifier, CatBoostRegressor
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor

warnings.filterwarnings('ignore')

In [2]:
metadata = pd.read_csv('../data/metadata.csv')
sub_format = pd.read_csv('../data/submission_format.csv')
train_labels = pd.read_csv('../data/train_labels.csv')

In [3]:
def rmse(y_true, y_pred):
    return mse(y_true, y_pred, squared=False)

In [4]:
def dens_to_sev(x: float)-> int:
    """takes in density value in cells/ml and returns severity category"""
    if (x < 20_000) : return 1
    elif (x >= 20_000) and (x < 100_000) : return 2
    elif (x >= 100_000) and (x < 1_000_000) : return 3
    elif (x >= 1_000_000) and (x < 10_000_000) : return 4
    elif x > 10_000_000 : return 5

## Add date fts

In [5]:
metadata.date = pd.to_datetime(metadata.date)
metadata['year'] = metadata.date.dt.year
metadata['month'] = metadata.date.dt.month
metadata['week'] = metadata.date.dt.isocalendar().week


seasons = {
    1: 1,
    2: 1,
    3: 2,
    4: 2,
    5: 2,
    6: 3,
    7: 3,
    8: 3,
    9: 4,
    10: 4,
    11: 4,
    12: 1
}

metadata['season'] = metadata.month.map(seasons)


region = pd.concat((train_labels, sub_format[['region', 'uid']]), axis=0)

data = pd.merge(metadata, region, on='uid', how='left')
data

,uid,latitude,longitude,date,split,year,month,week,season,region,severity,density
0,aabm,39.080319,-86.430867,2018-05-14,train,2018,5,20,2,midwest,1.0,585.0
1,aabn,36.559700,-121.510000,2016-08-31,test,2016,8,35,3,west,NaN,NaN
2,aacd,35.875083,-78.878434,2020-11-19,train,2020,11,47,4,south,1.0,290.0
3,aaee,35.487000,-79.062133,2016-08-24,train,2016,8,34,3,south,1.0,1614.0
4,aaff,38.049471,-99.827001,2019-07-23,train,2019,7,30,3,midwest,3.0,111825.0
...,...,...,...,...,...,...,...,...,...,...,...,...
23565,zzvv,36.708500,-121.749000,2014-12-02,test,2014,12,49,1,west,NaN,NaN
23566,zzwo,39.792190,-99.971050,2017-06-19,train,2017,6,25,3,midwest,2.0,48510.0
23567,zzwq,35.794000,-79.012551,2015-03-24,train,2015,3,13,2,south,1.0,1271.0
23568,zzyb,35.742000,-79.238600,2016-11-21,train,2016,11,47,4,south,1.0,9682.0
23569,zzzi,39.767323,-96.028617,2015-08-31,test,2015,8,36,3,midwest,NaN,NaN

In [6]:
test_data = data[data.split == 'test']
test_data.shape, data.shape

((6510, 12), (23570, 12))

In [7]:
train_data = data[data.split == 'train']
train_data.shape, data.shape

((17060, 12), (23570, 12))

# Utils

In [8]:
#  Utils
def get_data_by_date( date=None, data=train_data):
    return data[data.date == date]


def get_distance(lat1, lon1, lat2, lon2):
    return geodesic((lat1, lon1), (lat2, lon2)).km

def analyize_matches(y_true, y_pred):
    print("Exact matches: ", sum(y_true == y_pred) / len(y_true))
    
    print("Missed by 1: ", sum(abs(y_true - y_pred) == 1) / len(y_true))
    print("Missed by 2: ", sum(abs(y_true - y_pred) == 2) / len(y_true))
    print("Missed by 3: ", sum(abs(y_true - y_pred) == 3) / len(y_true))
    print("Missed by 4: ", sum(abs(y_true - y_pred) == 4) / len(y_true))

# My Guess

Get a sample and try to guess it's severity based on location, region, date, season, month.

> Trail 1:

    1. Get a test/val sample

    2. Get subset of train data from the sample's date and region.
        2.1 if subset is empty, get subset of train data from the sample's previous date and region.
        2.2. if stil the subset is empty, fill the severity with 2.
    
    3. Get the nearest sample from the subset and use it's severity as the guess.

In [9]:
te_data = test_data.sort_values(by='date')
te_data

,uid,latitude,longitude,date,split,year,month,week,season,region,severity,density
6865,howw,37.0062,-120.600,2013-01-08,test,2013,1,2,1,west,NaN,NaN
3661,eamn,36.9818,-120.221,2013-01-08,test,2013,1,2,1,west,NaN,NaN
7668,imsv,36.9836,-120.500,2013-01-08,test,2013,1,2,1,west,NaN,NaN
20182,wgxq,33.8011,-117.205,2013-01-25,test,2013,1,4,1,west,NaN,NaN
16095,rsos,33.8892,-117.562,2013-01-25,test,2013,1,4,1,west,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
12443,nsoi,36.7368,-121.734,2021-12-29,test,2021,12,52,1,west,NaN,NaN
14254,prfi,36.7518,-121.742,2021-12-29,test,2021,12,52,1,west,NaN,NaN
6864,howu,36.7085,-121.749,2021-12-29,test,2021,12,52,1,west,NaN,NaN
6540,hfvr,36.7962,-121.782,2021-12-29,test,2021,12,52,1,west,NaN,NaN
17559,thki,36.7254,-121.730,2021-12-29,test,2021,12,52,1,west,NaN,NaN

## Train test split

In [10]:
tr_data, val_data = train_test_split(train_data, test_size=0.15, random_state=123456789, shuffle=True)
tr_data.shape, val_data.shape

((14501, 12), (2559, 12))

In [11]:
tr_data2, val_data2 = train_test_split(train_data, test_size=0.15, random_state=123456789, shuffle=True)
tr_data2.shape, val_data2.shape

((14501, 12), (2559, 12))

## Guess Funcs

In [12]:
fill_2s = []
g_from_past = {}

n_times_called = {}

def make_guess1(row: pd.Series, date=None, tr_data=tr_data) -> pd.Series:

    dists = []
    region = row.region
    date = date
    uid = row.uid
    tr_data = tr_data

    if date is None:
        date = row.date

    rel_data = tr_data[(tr_data.date == date) & (tr_data.region == region)]
    
    # check if cur date is past '2013-01-04'
    if date < pd.to_datetime('2013-01-04'):
        print(f'No previous data for this date filling in 2s .. for {row.uid}')
        fill_2s.append(uid)
        return 2

    if rel_data.shape[0] == 0:
        # print(f'No data for this date, trying previous day.. for {row.uid}')
        if g_from_past.get(uid) is not None:
            g_from_past[uid] += 1
        return make_guess1(row, date=date - pd.Timedelta(days=1), tr_data=tr_data)

    for some_row in rel_data.itertuples():
        dist = get_distance(row.latitude, row.longitude, some_row.latitude, some_row.longitude)
        dists.append(dist)
    
    nearest = rel_data.iloc[np.argmin(dists)]
    return nearest.severity


def make_guess2(row: pd.Series, date=None, tr_data=tr_data, n_times_called=None) -> pd.Series:
    """modified version of make_guess1, Uses mean/mode of severity for the region instead of nearest severity."""
    dists = []
    region = row.region
    date = date
    uid = row.uid
    tr_data = tr_data
    
    if n_times_called is not None:
        if n_times_called.get(uid) is None:
            n_times_called[uid] = 1
        else:
            n_times_called[uid] += 1
        

    if date is None:
        date = row.date

    rel_data = tr_data[(tr_data.date == date) & (tr_data.region == region)]
    
    # check if cur date is past '2013-01-04'
    if date < pd.to_datetime('2013-01-04'):
        print(f'No previous data for this date filling in 2s .. for {row.uid}')
        fill_2s.append(uid)
        return 2

    if rel_data.shape[0] == 0:
        # print(f'No data for this date, trying previous day.. for {row.uid}')
        if g_from_past.get(uid) is not None:
            g_from_past[uid] += 1
        global count 
        count += 1
        return make_guess2(row, date=date - pd.Timedelta(days=1), tr_data=tr_data)

    severty_mode = rel_data.severity.mode()[0]
    severty_mean = np.round(rel_data.severity.mean())

    return severty_mean



def cv_loop(rand, splits=10, guess_func=make_guess1):
    # print("Random Number: ", rand)
    skf = StratifiedKFold(n_splits=splits, shuffle=True, random_state=rand)
    tscv = TimeSeriesSplit(n_splits=splits)
    
    rmses = []
    guess_train_preds = np.zeros((train_data.shape[0]))

    for fold, (train_idx, val_idx) in enumerate(tscv.split(train_data, train_data.severity)):
        print(f"Fold: {fold}")
        tr_data, val_data = train_data.iloc[train_idx], train_data.iloc[val_idx]

        val_data['guess'] = 0

        temp = []
        for row in tqdm(val_data.itertuples(), total=val_data.shape[0]):
            uid_series = val_data[val_data.uid == row.uid]
            severity = guess_func(uid_series.iloc[0], date=row.date, tr_data=tr_data)
            val_data.loc[val_data.uid == row.uid, f'guess'] = severity
            temp.append(severity)
        
        guess_train_preds[val_idx] = temp
        

                
        errror = rmse(val_data.severity, val_data.guess1)
        rmses.append(errror)
        print("RMSE: ", errror)

        print('Train Distribution: ')
        print(tr_data.severity.value_counts(normalize=True))
        print('Val Distribution: ')
        print(val_data.severity.value_counts(normalize=True))
        print('Predicted Distribution: ')
        print(val_data.guess1.value_counts(normalize=True))

    
    print('----------------------------------------------------')

    return rmses, guess_train_preds

In [13]:
tr_data.sort_values(by='date', inplace=True)
val_data.sort_values(by='date', inplace=True)

In [14]:
tr_data2.sort_values(by='date', inplace=True)
val_data2.sort_values(by='date', inplace=True)

### Failed way of validation

In [19]:
for row in tqdm(val_data.itertuples(), total=val_data.shape[0]):
    val_data.loc[row.Index, 'guess'] = make_guess1(row)

analyize_matches(val_data.severity, val_data.guess)
rmse(val_data.severity, val_data.guess)

100%|██████████| 2559/2559 [00:18<00:00, 140.98it/s]

Exact matches:  0.6107854630715123
Missed by 1:  0.283704572098476
Missed by 2:  0.09574052364204767
Missed by 3:  0.007815552950371238
Missed by 4:  0.0019538882375928096

0.8765094722942204

In [20]:
# 0.08284486127393513 + 0.008206330597889801 + 0.0011723329425556857
# 91% preds < 1 offs, 99% preds < 2 offs, 88% preds == 2 offs

In [20]:
count = 0

for row in tqdm(val_data.itertuples(), total=val_data.shape[0]):
    val_data.loc[row.Index, 'guess'] = make_guess2(row)

analyize_matches(val_data.severity, val_data.guess)

rmse(val_data.severity, val_data.guess)

100%|██████████| 2559/2559 [00:05<00:00, 463.20it/s]

Exact matches:  0.5560765924189136
Missed by 1:  0.3903868698710434
Missed by 2:  0.047284095349745994
Missed by 3:  0.005861664712778429
Missed by 4:  0.00039077764751856197

0.7990811448440829

### New Era VAL SET

In [23]:
val_data2['date_reg'] = val_data2.date.astype(str) + "_" +  val_data2.region
tr_data2['date_reg'] = tr_data2.date.astype(str) + "_" +  tr_data2.region

assert (val_data2.columns == tr_data2.columns).all()

print(set(val_data2.uid).intersection(set(tr_data2.uid)))

#  Intersection percentage of date and regs before
print(len(set(val_data2.date_reg).intersection(set(tr_data2.date_reg)))/val_data2.date_reg.nunique())

set()
0.9328793774319066

In [24]:
datereg_to_remove = val_data2.date_reg.sample(frac=0.40, random_state=123456789)
tr_data2_ = tr_data2[~tr_data2.date_reg.isin(datereg_to_remove)]

len(set(val_data2.date_reg).intersection(set(tr_data2_.date_reg)))/val_data2.date_reg.nunique()

0.372568093385214

In [25]:
len(set(val_data2.date).intersection(set(tr_data2_.date)))/val_data2.date.nunique()

0.6537013801756587

In [29]:
len(set(test_data.date).intersection(set(train_data.date)))/test_data.date.nunique()

0.701095461658842

In [30]:
tr_data3 = tr_data2.copy()
val_data3 = val_data2.copy()

datereg_to_remove = tr_data3.date_reg.sample(frac=0.60, random_state=123456789)
val_data3_ = val_data3[~val_data3.date_reg.isin(datereg_to_remove)]

len(set(val_data3_.date_reg).intersection(set(tr_data3.date_reg)))/val_data3_.date_reg.nunique()

0.43902439024390244

In [31]:
len(set(val_data3_.date).intersection(set(tr_data2_.date)))/val_data3_.date.nunique()

0.6186440677966102

In [32]:
val_data3.shape, val_data3_.shape, tr_data3.shape

#  I wonder if this is a good idea!

((2559, 13), (137, 13), (14501, 13))

In [33]:
for row in tqdm(val_data3_.itertuples(), total=val_data3_.shape[0]):
    val_data3_.loc[row.Index, 'guess'] = make_guess2(row, tr_data=tr_data3)

analyize_matches(val_data3_.severity, val_data3_.guess)

rmse(val_data3_.severity, val_data3_.guess)

100%|██████████| 137/137 [00:01<00:00, 126.30it/s]

Exact matches:  0.5182481751824818
Missed by 1:  0.29927007299270075
Missed by 2:  0.145985401459854
Missed by 3:  0.0364963503649635
Missed by 4:  0.0

1.100762840995638

### Eval

In [99]:
def eval( guess_func=make_guess2, val_data=val_data3_, tr_data=tr_data3):
    for row in tqdm(val_data.itertuples(), total=val_data.shape[0]):
        val_data.loc[row.Index, 'guess'] = guess_func(row, tr_data=tr_data)
    analyize_matches(val_data.severity, val_data.guess)
    return rmse(val_data.severity, val_data.guess)

In [100]:
eval()

100%|██████████| 137/137 [00:03<00:00, 37.29it/s]

Exact matches:  0.5182481751824818
Missed by 1:  0.29927007299270075
Missed by 2:  0.145985401459854
Missed by 3:  0.0364963503649635
Missed by 4:  0.0

1.100762840995638

In [101]:
eval(val_data=val_data3, tr_data=tr_data3)

100%|██████████| 2559/2559 [00:17<00:00, 143.60it/s]

Exact matches:  0.5560765924189136
Missed by 1:  0.3903868698710434
Missed by 2:  0.047284095349745994
Missed by 3:  0.005861664712778429
Missed by 4:  0.00039077764751856197

0.7990811448440829

In [102]:
eval(val_data=val_data2, tr_data=tr_data2_)

  0%|          | 2/2559 [00:00<02:09, 19.71it/s]

No previous data for this date filling in 2s .. for pfly
No previous data for this date filling in 2s .. for jalu
No previous data for this date filling in 2s .. for jubi
No previous data for this date filling in 2s .. for pdqu

  0%|          | 10/2559 [00:00<02:32, 16.71it/s]

No previous data for this date filling in 2s .. for ipsj
No previous data for this date filling in 2s .. for acmt

  0%|          | 12/2559 [00:00<03:24, 12.45it/s]

No previous data for this date filling in 2s .. for htnz

  1%|          | 18/2559 [00:01<02:52, 14.76it/s]

No previous data for this date filling in 2s .. for kptf

100%|██████████| 2559/2559 [01:06<00:00, 38.33it/s]

Exact matches:  0.5166080500195389
Missed by 1:  0.3583431027745213
Missed by 2:  0.08909730363423213
Missed by 3:  0.03477921062915201
Missed by 4:  0.0011723329425556857

1.0229870673936738

In [103]:
train_data[train_data.uid == 'kptf']

,uid,latitude,longitude,date,split,year,month,week,season,region,severity,density,exp_sev_rm
9649,kptf,38.307,-121.794,2013-02-19,train,2013,2,8,1,west,4.0,6930000.0,0

In [104]:
tr_data3

,uid,latitude,longitude,date,split,year,month,week,season,region,severity,density,date_reg
13644,paev,44.822478,-93.367962,2013-01-04,train,2013,1,1,1,midwest,1.0,1884.0,2013-01-04_midwest
4387,evep,44.847993,-93.476318,2013-01-04,train,2013,1,1,1,midwest,1.0,115.0,2013-01-04_midwest
5566,gdxr,44.877646,-93.557842,2013-01-04,train,2013,1,1,1,midwest,1.0,1416.0,2013-01-04_midwest
6144,guny,44.878889,-93.490833,2013-01-04,train,2013,1,1,1,midwest,1.0,558.0,2013-01-04_midwest
5317,fwbt,44.850500,-93.515700,2013-01-04,train,2013,1,1,1,midwest,1.0,476.0,2013-01-04_midwest
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23159,zoaj,36.060000,-78.760000,2021-12-14,train,2021,12,50,1,south,2.0,48233.0,2021-12-14_south
18793,uscb,35.980000,-78.843636,2021-12-14,train,2021,12,50,1,south,2.0,20021.0,2021-12-14_south
12047,ngxt,35.980000,-78.844133,2021-12-14,train,2021,12,50,1,south,1.0,5187.0,2021-12-14_south
22641,yyvh,35.980000,-78.843138,2021-12-14,train,2021,12,50,1,south,1.0,1660.0,2021-12-14_south
17778,tobi,36.030000,-78.705932,2021-12-14,train,2021,12,50,1,south,1.0,4357.0,2021-12-14_south

In [107]:
val_data3_.region.value_counts(normalize=True)

west         0.386861
northeast    0.291971
south        0.167883
midwest      0.153285
Name: region, dtype: float64

In [108]:
test_data.region.value_counts(normalize=True)

west         0.366667
midwest      0.240399
south        0.232104
northeast    0.160829
Name: region, dtype: float64

In [109]:
val_data2.region.value_counts(normalize=True)

south        0.582649
west         0.222352
midwest      0.132864
northeast    0.062134
Name: region, dtype: float64

In [110]:
val_data2.severity.value_counts(normalize=True)

1.0    0.439234
4.0    0.205940
2.0    0.192263
3.0    0.158265
5.0    0.004299
Name: severity, dtype: float64

In [111]:
val_data3_.severity.value_counts(normalize=True)

1.0    0.357664
4.0    0.270073
3.0    0.189781
2.0    0.167883
5.0    0.014599
Name: severity, dtype: float64

In [114]:
val_data3_

,uid,latitude,longitude,date,split,year,month,week,season,region,severity,density,date_reg,guess_2_new,guess
13772,pdqu,38.59010,-121.731000,2013-01-22,train,2013,1,4,1,west,4.0,4.180000e+06,2013-01-22_west,4.0,4.0
6595,hhfq,38.30560,-122.026000,2013-03-20,train,2013,3,12,2,west,4.0,7.220000e+06,2013-03-20_west,4.0,4.0
2087,cimy,33.19360,-104.356700,2013-03-20,train,2013,3,12,2,west,1.0,1.301653e+03,2013-03-20_west,4.0,4.0
11867,napd,38.59010,-121.731000,2013-03-20,train,2013,3,12,2,west,4.0,7.457500e+06,2013-03-20_west,4.0,4.0
23487,zxjy,32.38401,-104.145830,2013-06-06,train,2013,6,23,3,west,2.0,7.108144e+04,2013-06-06_west,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13421,otnr,41.56372,-75.707820,2021-07-26,train,2021,7,30,3,northeast,3.0,1.581330e+05,2021-07-26_northeast,3.0,3.0
15725,rhru,40.35642,-76.409560,2021-07-26,train,2021,7,30,3,northeast,1.0,1.600000e+03,2021-07-26_northeast,3.0,3.0
17089,sulb,41.50357,-111.022560,2021-07-27,train,2021,7,30,3,west,5.0,1.855960e+07,2021-07-27_west,4.0,4.0
14474,pxhr,35.68000,-79.109639,2021-08-14,train,2021,8,32,3,south,3.0,1.321570e+05,2021-08-14_south,3.0,3.0
13449,ouqd,35.97000,-78.630000,2021-12-07,train,2021,12,49,1,south,2.0,2.549500e+04,2021-12-07_south,2.0,2.0

In [121]:
avg_sev_reg = tr_data3.groupby('region').severity.mean().apply(np.round)
avg_sev_reg

region
midwest      2.0
northeast    2.0
south        2.0
west         4.0
Name: severity, dtype: float64

In [129]:
tr_data3

,uid,latitude,longitude,date,split,year,month,week,season,region,severity,density,date_reg
13644,paev,44.822478,-93.367962,2013-01-04,train,2013,1,1,1,midwest,1.0,1884.0,2013-01-04_midwest
4387,evep,44.847993,-93.476318,2013-01-04,train,2013,1,1,1,midwest,1.0,115.0,2013-01-04_midwest
5566,gdxr,44.877646,-93.557842,2013-01-04,train,2013,1,1,1,midwest,1.0,1416.0,2013-01-04_midwest
6144,guny,44.878889,-93.490833,2013-01-04,train,2013,1,1,1,midwest,1.0,558.0,2013-01-04_midwest
5317,fwbt,44.850500,-93.515700,2013-01-04,train,2013,1,1,1,midwest,1.0,476.0,2013-01-04_midwest
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23159,zoaj,36.060000,-78.760000,2021-12-14,train,2021,12,50,1,south,2.0,48233.0,2021-12-14_south
18793,uscb,35.980000,-78.843636,2021-12-14,train,2021,12,50,1,south,2.0,20021.0,2021-12-14_south
12047,ngxt,35.980000,-78.844133,2021-12-14,train,2021,12,50,1,south,1.0,5187.0,2021-12-14_south
22641,yyvh,35.980000,-78.843138,2021-12-14,train,2021,12,50,1,south,1.0,1660.0,2021-12-14_south
17778,tobi,36.030000,-78.705932,2021-12-14,train,2021,12,50,1,south,1.0,4357.0,2021-12-14_south

In [127]:
def guess_avgsevreg(row, **kwargs):
    return avg_sev_reg[row.region]

In [128]:
eval(guess_func=guess_avgsevreg)

100%|██████████| 137/137 [00:00<00:00, 5296.91it/s]

Exact matches:  0.31386861313868614
Missed by 1:  0.5036496350364964
Missed by 2:  0.12408759124087591
Missed by 3:  0.058394160583941604
Missed by 4:  0.0

1.2351305377390174

In [132]:
#  Expanding severity man grop by region and season

data3 = pd.concat([tr_data3, val_data3_], axis=0)
data3.sort_values(by='date', inplace=True)

In [135]:
val_data3_

,uid,latitude,longitude,date,split,year,month,week,season,region,severity,density,date_reg,guess_2_new,guess
13772,pdqu,38.59010,-121.731000,2013-01-22,train,2013,1,4,1,west,4.0,4.180000e+06,2013-01-22_west,4.0,4.0
6595,hhfq,38.30560,-122.026000,2013-03-20,train,2013,3,12,2,west,4.0,7.220000e+06,2013-03-20_west,4.0,4.0
2087,cimy,33.19360,-104.356700,2013-03-20,train,2013,3,12,2,west,1.0,1.301653e+03,2013-03-20_west,4.0,4.0
11867,napd,38.59010,-121.731000,2013-03-20,train,2013,3,12,2,west,4.0,7.457500e+06,2013-03-20_west,4.0,4.0
23487,zxjy,32.38401,-104.145830,2013-06-06,train,2013,6,23,3,west,2.0,7.108144e+04,2013-06-06_west,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13421,otnr,41.56372,-75.707820,2021-07-26,train,2021,7,30,3,northeast,3.0,1.581330e+05,2021-07-26_northeast,3.0,2.0
15725,rhru,40.35642,-76.409560,2021-07-26,train,2021,7,30,3,northeast,1.0,1.600000e+03,2021-07-26_northeast,3.0,2.0
17089,sulb,41.50357,-111.022560,2021-07-27,train,2021,7,30,3,west,5.0,1.855960e+07,2021-07-27_west,4.0,4.0
14474,pxhr,35.68000,-79.109639,2021-08-14,train,2021,8,32,3,south,3.0,1.321570e+05,2021-08-14_south,3.0,2.0
13449,ouqd,35.97000,-78.630000,2021-12-07,train,2021,12,49,1,south,2.0,2.549500e+04,2021-12-07_south,2.0,2.0

In [144]:
data3[data3.date == '2013-03-20']

,uid,latitude,longitude,date,split,year,month,week,season,region,severity,density,date_reg,guess_2_new,guess
11867,napd,38.5901,-121.731000,2013-03-20,train,2013,3,12,2,west,4.0,7.457500e+06,2013-03-20_west,4.0,4.0
6595,hhfq,38.3056,-122.026000,2013-03-20,train,2013,3,12,2,west,4.0,7.220000e+06,2013-03-20_west,4.0,4.0
2012,cgdm,38.1205,-122.200000,2013-03-20,train,2013,3,12,2,west,4.0,5.795000e+06,2013-03-20_west,NaN,NaN
2087,cimy,33.1936,-104.356700,2013-03-20,train,2013,3,12,2,west,1.0,1.301653e+03,2013-03-20_west,4.0,4.0
1208,bjij,35.9760,-78.710406,2013-03-20,train,2013,3,12,2,south,1.0,2.905000e+03,2013-03-20_south,NaN,NaN
19544,vnkl,36.0280,-78.716000,2013-03-20,train,2013,3,12,2,south,2.0,5.962300e+04,2013-03-20_south,NaN,NaN
396,alxv,35.9760,-78.709661,2013-03-20,train,2013,3,12,2,south,1.0,1.742700e+04,2013-03-20_south,NaN,NaN
14448,pwpz,35.9760,-78.710158,2013-03-20,train,2013,3,12,2,south,1.0,1.022400e+04,2013-03-20_south,NaN,NaN
11641,mucf,35.9760,-78.709412,2013-03-20,train,2013,3,12,2,south,2.0,2.120300e+04,2013-03-20_south,NaN,NaN

In [36]:
val_data3_.split = 'val'
tr_data3.split = 'train'

train_data3 = pd.concat([tr_data3, val_data3_], axis=0)
train_data3.sort_values(by='date', inplace=True)

train_data3.isna().sum()

uid              0
latitude         0
longitude        0
date             0
split            0
year             0
month            0
week             0
season           0
region           0
severity         0
density          0
date_reg         0
guess        14501
dtype: int64

In [39]:
grp_by_rm = train_data3.groupby(['region', 'month']).severity.expanding(1).mean()
grp_by_rm = grp_by_rm.map(np.round)
print(grp_by_rm.isna().sum())  # 72 --> 0.8528

grp_by_rm.fillna(2, inplace=True)
analyize_matches(val_data3_.severity.sort_index(), grp_by_rm.droplevel(0).droplevel(0).loc[val_data3_.index].sort_index())
rmse(val_data3_.severity.sort_index(), grp_by_rm.droplevel(0).droplevel(0).loc[val_data3_.index].sort_index())

0
Exact matches:  0.4233576642335766
Missed by 1:  0.40875912408759124
Missed by 2:  0.12408759124087591
Missed by 3:  0.043795620437956206
Missed by 4:  0.0

1.1398552859870856

In [42]:
tr_data2_.shape, val_data2.shape

((5712, 13), (2559, 13))

In [45]:
train_data2 = pd.concat([tr_data2_, val_data2], axis=0)
train_data2.sort_values(by='date', inplace=True)
train_data2.loc[val_data2.index, 'severity'] = np.nan

train_data2.isna().sum()

uid             0
latitude        0
longitude       0
date            0
split           0
year            0
month           0
week            0
season          0
region          0
severity     2559
density         0
date_reg        0
dtype: int64

In [50]:

grp_by_region = train_data2.groupby('region').severity.expanding(1).mean()
grp_by_region = grp_by_region.map(np.round)

grp_by_region['west'].fillna(2, inplace=True)
grp_by_region['northeast'].fillna(2, inplace=True)
print(grp_by_region.isna().sum())   # 5 --> 0.89416

rmse(val_data2.severity.sort_index(), grp_by_region.droplevel(0).loc[val_data2.index].sort_index())

0

0.9202256039541193

In [55]:
grp_by_week = train_data2.groupby('week').severity.expanding(1).mean()
grp_by_week = grp_by_week.map(np.round)
print(grp_by_week.isna().sum())  # 105 --> 1.176284

grp_by_week.fillna(2, inplace=True)

analyize_matches(val_data2.severity.sort_index(), grp_by_week.droplevel(0).loc[val_data2.index].sort_index())
rmse(val_data2.severity.sort_index(), grp_by_week.droplevel(0).loc[val_data2.index].sort_index())

71
Exact matches:  0.21805392731535755
Missed by 1:  0.5138726064869089
Missed by 2:  0.22821414615084018
Missed by 3:  0.039077764751856196
Missed by 4:  0.0007815552950371239

1.338257807217118

In [54]:

grp_by_season = train_data2.groupby('season').severity.expanding(1).mean()
grp_by_season = grp_by_season.map(np.round)
print(grp_by_season.isna().sum())  # 105 --> 1.176284
grp_by_season.fillna(2, inplace=True)

analyize_matches(val_data2.severity.sort_index(), grp_by_season.droplevel(0).loc[val_data2.index].sort_index())

rmse(val_data2.severity.sort_index(), grp_by_season.droplevel(0).loc[val_data2.index].sort_index())

7
Exact matches:  0.1930441578741696
Missed by 1:  0.5701445877295819
Missed by 2:  0.22665103556076593
Missed by 3:  0.01016021883548261
Missed by 4:  0.0

1.2522742109825584

In [56]:
grp_by_month = train_data2.groupby('month').severity.expanding(1).mean()
grp_by_month = grp_by_month.map(np.round)
print(grp_by_month.isna().sum())  # 105 --> 1.176284

grp_by_month.fillna(2, inplace=True)

rmse(val_data2.severity.sort_index(), grp_by_month.droplevel(0).loc[val_data2.index].sort_index())

12

1.2648492751869658

In [58]:
grp_by_yr = train_data2.groupby('year').severity.expanding(1).mean()
grp_by_yr = grp_by_yr.map(np.round)

print(grp_by_yr.isna().sum())   # 5 --> 0.89416
grp_by_yr.fillna(2, inplace=True)

rmse(val_data2.severity.sort_index(), grp_by_yr.droplevel(0).loc[val_data2.index].sort_index())

8

1.3596944695078805

In [59]:
grp_by_date = train_data2.groupby('date').severity.expanding(1).mean()
grp_by_date = grp_by_date.map(np.round)

print(grp_by_date.isna().sum())   # 5 --> 0.89416
grp_by_date.fillna(2, inplace=True)

rmse(val_data2.severity.sort_index(), grp_by_date.droplevel(0).loc[val_data2.index].sort_index())

1489

1.3850369928881396

In [46]:
grp_by_rm = train_data2.groupby(['region', 'month']).severity.expanding(1).mean()
grp_by_rm = grp_by_rm.map(np.round)
print(grp_by_rm.isna().sum())  # 72 --> 0.8528

grp_by_rm.fillna(2, inplace=True)

analyize_matches(val_data2.severity.sort_index(), grp_by_rm.droplevel(0).droplevel(0).loc[val_data2.index].sort_index())
rmse(val_data2.severity.sort_index(), grp_by_rm.droplevel(0).droplevel(0).loc[val_data2.index].sort_index())

55
Exact matches:  0.45603751465416176
Missed by 1:  0.4693239546697929
Missed by 2:  0.06486908948808129
Missed by 3:  0.009378663540445486
Missed by 4:  0.00039077764751856197

0.9052407010549318

In [47]:

grp_by_rm = train_data2.groupby(['region', 'year']).severity.expanding(1).mean()
grp_by_rm = grp_by_rm.map(np.round)
print(grp_by_rm.isna().sum())  # 72 --> 0.8528

grp_by_rm.fillna(2, inplace=True)

analyize_matches(grp_by_rm.droplevel(0).droplevel(0).loc[val_data2.index].sort_index(), val_data2.severity.sort_index())
rmse(val_data2.severity.sort_index(), grp_by_rm.droplevel(0).droplevel(0).loc[val_data2.index].sort_index())

48
Exact matches:  0.5404454865181711
Missed by 1:  0.35873388042203985
Missed by 2:  0.08597108245408362
Missed by 3:  0.013677217663149667
Missed by 4:  0.0011723329425556857

0.9189507583584728

In [48]:
grp_by_rm = train_data2.groupby(['region', 'season']).severity.expanding(1).mean()
grp_by_rm = grp_by_rm.map(np.round)
print(grp_by_rm.isna().sum())  # 72 --> 0.8528

grp_by_rm.fillna(2, inplace=True)

analyize_matches(grp_by_rm.droplevel(0).droplevel(0).loc[val_data2.index].sort_index(), val_data2.severity.sort_index())

rmse(val_data2.severity.sort_index(), grp_by_rm.droplevel(0).droplevel(0).loc[val_data2.index].sort_index())

30
Exact matches:  0.4404064087534193
Missed by 1:  0.4904259476357952
Missed by 2:  0.0605705353653771
Missed by 3:  0.007424775302852677
Missed by 4:  0.0011723329425556857

0.9045929437619269

In [49]:
grp_by_rm = train_data2.groupby(['region', 'date']).severity.expanding(1).mean()
grp_by_rm = grp_by_rm.map(np.round)
print(grp_by_rm.isna().sum())  # 72 --> 0.8528

grp_by_rm.fillna(2, inplace=True)

preds = grp_by_rm.droplevel(0).droplevel(0).loc[val_data2.index].sort_index()
analyize_matches(val_data2.severity.sort_index(), preds)
rmse(val_data2.severity.sort_index(), preds)

2189
Exact matches:  0.252442360296991
Missed by 1:  0.567409144196952
Missed by 2:  0.17506838608831574
Missed by 3:  0.005080109417741305
Missed by 4:  0.0

1.1460382512420284

# Submission

In [46]:
#  Making submission with guess2 mean

sub_format['severity'] = 0

for row in tqdm(te_data.itertuples(), total=te_data.shape[0]):
    uid_series = te_data[te_data.uid == row.uid]
    severity = make_guess1(uid_series.iloc[0], date=row.date, tr_data=train_data)   # use all train data for making test submission
    sub_format.loc[sub_format.uid == row.uid, 'severity'] = severity

sub_format

  1%|▏         | 88/6510 [00:01<01:09, 92.61it/s]

No previous data for this date filling in 2s .. for igpa
No previous data for this date filling in 2s .. for lkpf

  2%|▏         | 106/6510 [00:02<02:27, 43.53it/s]

No previous data for this date filling in 2s .. for paez

100%|██████████| 6510/6510 [01:17<00:00, 83.95it/s]

       uid     region  severity
0     aabn       west         2
1     aair       west         4
2     aajw  northeast         2
3     aalr    midwest         4
4     aalw       west         4
...    ...        ...       ...
6505  zzpn  northeast         5
6506  zzrv       west         4
6507  zzsx      south         2
6508  zzvv       west         4
6509  zzzi    midwest         1

[6510 rows x 3 columns]

In [47]:
print(sub_format.severity.value_counts(normalize=True))

sub_format.to_csv('../submissions/to submit/guess1_newly_validated.csv', index=False)

4    0.339785
1    0.311982
3    0.191705
2    0.153303
5    0.003226
Name: severity, dtype: float64

# Sooo....

- The discrepancy is due to high percentage of dates and region combinations (as in myguess2) is missing in the test set, where as the val set is so sweet and nice and has all the    combinations
- finally figured out something, but not sure if it's right.
- 

# Todos :

- check this theory with a submission.
- analyise date missses vs date_reg misses.
- Figure out better hypothesis guessing on new val set.